@import 
'theme/global-optout',
'theme/global-components';

.adscience-logo-container {
  display: none;
}
.theme-adsciencelogo-container {
  display: none;
}
.theme-logo-container {
  display: block;
}
.header {
  border-bottom: solid 2px #0091ea;
  box-shadow: none; 
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.theme-logo::before {
  font-family: "FontAwesome"; 
  content: "\f015";
  color:white;
  position: relative;
  font-size: 30px;
  left: -34px;
  top: -4px;
}
.theme-logo {
  margin: 0;
    background: url('../images/theme-logos/opt-out-advertising-logo.png') no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 43px;
    width: 230px;
    margin-left: 56px;
    margin-top: 4px;
    vertical-align: middle;
}
.funnel g:nth-child(3) path { stroke: rgb(255, 109, 0); transform-origin: 50% 50%; }
.funnel g:nth-child(3) text { fill: rgb(255, 109, 0); }
@media (max-width: 991.98px) {
  .sidebar {
    .navbar {
      justify-content: flex-end;
    }
  }
}