.array-row {
  width: calc(100% - 20px);
  display: inline-block;
  margin-bottom: 10px;
}

.array-row-remove-btn {
  display: inline-block;
  vertical-align: top;

  a {
    width: 20px;
    display: block;
    text-align: right;
    height: 30px;
    line-height: 30px;
  }
}