// Global Variables
//------------------------------------------------------

// color elements
$white: #fff !default;
$black: #3c3c44 !default;
$transparent: transparent !default;

$grey-xxx-light: #f7f7f7 !default;
$grey-xx-light: #efefef !default;
$grey-x-light: #eee;
$grey-light: #ddd !default;
$grey-medium: #ccc;
$grey: #808285;
$grey-dark: #575757;


$petrol-light: #b9c4cf;
$petrol: #b9c4cb;

$deep-blue: #354052 !default;
$dark-blue: #1f4389 !default;
$blue-aqua: #55c2cd !default;
$deep-pink: #a81e73 !default;
$green: #74a363 !default;
$deep-green: #74a363 !default;
$blue: #0076ba !default;
$orange: #ee7d0c !default;
$red: #d9534f !default;

$color-primary1: $black;
$color-primary2: $blue-aqua;
$color-primary: $blue;
$color-success: $green;
$color-warning: $orange;
$color-danger: $red;
$color-link: $dark-blue;
$color-fonts: $grey-dark;

// fonts
$font-stack: ('Roboto', 'Helvetica', 'Arial', sans-serif) !default;
$font-size-x-small: 0.75em;
$font-size-small: 0.9em;
$font-size-normal: 1em;
$font-size-large: 1.25em;
$font-size-x-large: 1.5em;
$font-size-xx-large: 2em;
$font-size-xxx-large: 3em;

$font-weight-light : 300;
$font-weight-normal : 400;
$font-weight-medium : 500;
$font-weight-bold : 700;

$global-header-background: $color-primary2;
$global-header-height: 60px;

$global-sidebar-width: 200px;
$global-sidebar-mini-width: 70px;
$global-sidebar-bg: $white;
$global-sidebar-bg-hover: $grey-xxx-light;
$global-sidebar-expand-bg: $grey-xx-light;
$global-sidebar-expand-color: $black;
$global-sidebar-color: $color-primary1;
$global-sidebar-color-hover: $color-primary1;
$global-sidebar-item-active-color: $color-primary2;
$global-sidebar-item-active-bg: $grey-xx-light;
$global-sidebar-transition: .2s;
$global-navs-color: $color-primary2;

$global-table-primary-color: $color-primary1;
$global-headings-color: $color-primary1;
$global-top-header-color: $white;
$global-top-page-header-hover-background: rgba(255, 255, 255, 0.2);